<%- include("partials/header.ejs") %>
<% if (blogList.length < 1) { %>
    <div class="no-blog-list">
        <h1 class="no-blog-title">Oops! No Blog Yet🚫</h1>
        <img class="diary_img" src="images/panda_sleep.jpg" alt=""/>
        <p>Click on the home page to go back home or 👇</p>
        <a href="/">Go back to home</a>
 </div>
<% } else {%>
    <h1 class="title">View Your Blog List</h1>
 <%}%>

 
 <div class="overflow-div">
    <div class="home-container">
        <% if (locals.blogList) { %>
            <% for( let index=0; index < blogList.length; index++ ) { %>
                <div class="blog-card">
                    <span class="blog-number">
                        <%= index+ 1 %>
                    </span>
                    <h4>
                        <%= blogList[index].title %>
                    </h4>
                    <p>
                        <%= blogList[index].description?.slice(0,300) %>
                            <% if (blogList[index].description?.length> 299) { %> ...
                                <a class="view-btn" href="/blogDetails/<%= blogList[index].id %>">
                                    View Blog</a>
                                <% } %>
                    </p>
                    <div class="btn-wrapper">
                        <form action="/delete/<%= blogList[index].id %>" method="post">
                            <button class="delete-btn">Delete</button>
                        </form>
                        <a class="edit-btn" href="/edit/ <%=blogList[index].id %> "> edit</a>
                    </div>
                </div>
                <% } %>
                    <% } else { %>
                        <h1>NO Blogs here</h1>

                        <% } %>
    </div>
 </div>

<%- include("partials/footer.ejs") %>